<div class="container-fluid mt-3">
<form class="" method="post" action="/add-todo/add">
  <textarea class="form-control mb-3 fw-bold" id="exampleFormControlTextarea1" rows="3" placeholder="what do you want to do?" name="todo"></textarea>
  <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="6" placeholder="Description" name="deskripsi"></textarea>
  <div class="d-grid gap-2 d-block">
  <button class="btn btn-outline-primary" type="submit">Add</button>
  </div>
</form>
</div>
